<% layout('layouts/boilerplate')%>
    <%- include('../partials/navbar') %>
        <%- include('../partials/flash') %>
            <%- include('../partials/userProfileHeader') %>
                <!-- Content -->
                <div class=" h-screen flex justify-center">

                    <!-- Sidebar -->
                    <%- include('../partials/sidebar') %>


                        <!-- Reviews -->
                        <div class="h-auto w-1/2 border-2">
                            <% for (let bookmark of user.bookmarks) { %>
                                <p class="m-6">
                                    <a class="hover:underline" href="cities/<%= bookmark %>">
                                        <%= bookmark %>
                                    </a>
                                </p>
                                <% } %>
                        </div>
                </div>
                <script src="javascripts/placeAutocomplete.js"></script>
                <script src="javascripts/citySearch.js"></script>